RewriteEngine On

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# GraphQL endpoint
RewriteRule ^graphql$ index.php [L]

# Existing files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# React fallback
RewriteRule ^ index.html [L]